html,
body {
  width: 100%;
  height: 100%;
  margin: auto 0;
  font-family: "Acme", sans-serif;
  scroll-behavior: smooth;
}
/* Home */

.left {
  height: 51.6vw;
  width: 30%;
  background-color: black;
  float: left;
  color: white;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top: 7.5vw;
  margin-left: 1vw;
}

.active {
  background-color: #4ca64c;
}


.fade {
  animation-name: fade;
  animation-duration: 0.75s;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }

  to {
    opacity: 1;
  }
}


@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px;
  }
}
.nav2 {
  height: 51.6vw;
  width: 70%;
  font-size: 2vw;
  background-color: #181824;
  float: left;
  text-align: right;
}

.teksthome {
  margin-left: 8.5vw;
  margin-top: 4vw;
  font-size: 3vw;
}

.teksthome a {
  text-decoration: none;
  color: white;
}

.mySlides {
  display: none;
  width: 95%;
  height: 95%;
}

img {
  vertical-align: middle;
  width: 37vw;
  height: 37vw;
}

.navtekst2 {
  margin-top: 15vw;
  font-size: 3.2vw;
  color: white;
  margin-left: 19vw;
  text-align: left;
}

.navtekst3 {
  font-size: 1vw;
  color: darkgrey;
  margin-left: 19vw;
  margin-top: 1vw;
  text-align: left;
}

/* ICT */
.left4 {
  height: 100vw;
  width: 30%;
  background-color: black;
  float: left;
  padding-top: 11vw;
  text-align: center;
  font-size: 2vw;
  float: left;
  position:fixed;
    
  
}
.nav4 {
  height: 615vw;
  width: 70%;
  font-size: 2vw;
  background-color: #181824;
  float: right;
  text-align: right;
}
.left4 a {
  text-decoration: none;
  color: white;
  
}
.left4 a:hover {
  font-size: 2.2vw;
}
.icttekst {
  font-size: 4vw;
  text-align: center;
  color: white;
  margin-top: 3vw;
}
.icttekst1 {
  font-size: 1.5vw;
  color: white;
  text-align: center;
  margin-bottom: 200px;
}
.icttekst1 a{
  text-decoration: none;
  color: #4ca64c;
}
.icttekst2 {
  font-size: 3vw;
  color: white;
  text-align: center;
  margin-top: 2vw;
}

.icttekst::after {
  width: 400px;
  background-color: #4ca64c;
  display: block;
  margin: auto;
  content:'';
  height: 5px;
  border-radius: 3px;
}
.ict1 {
float: right;
height: 20vw;
width: 20vw;
margin-right: 10vw;
margin-top: 5vw;

}
.ict2 {
  float: right;
  height: 20vw;
  width: 20vw;
  margin-right: 10vw;
  margin-top: 5vw;
}
.ict2 {
  float: right;
  height: 20vw;
  width: 20vw;
  margin-right: 10vw;
  margin-top: 5vw;
}
.monday {
  margin-top: 3vw;
  width: 35vw;
  height: 37vw;
  border: 0;
  box-shadow: 5px 5px 56px 0px rgba(0,0,0,0.25);
}
.monday1 {
  margin-top: 1vw;
  width: 35vw;
  height: 37vw;
  border: 0;
  box-shadow: 5px 5px 56px 0px rgba(0,0,0,0.25);
}
.monday2 {
  margin-top: 2vw;
  height: 12vw;
  width: 40vw;
}
.schema {
  margin-left: 16vw;
  float: left;
  height: 40vw;
  width: 40vw;
}
.codeuitleg {
  border-radius: 3px;
  background-color: white;
  width: 25vw;
  margin-left: 22vw;
  color: black;
  margin-top: 1vw;
  border-radius: 10px;
  text-align: left;
}
.backUp {
  width: 100%;
  height: 5vw;
  font-size: 2vw;
  text-align: center;
  display: inline-block;
  margin-bottom: 0px;
}
.backUp a{
  text-decoration: none;
  color: white;
  width: 100%;
}
.backUp a:hover{
  width: 100%;
  background-color: #101017;
}

/* animatie */

.nav1 {
  height: 100vw;
  width: 69.3vw;
  font-size: 2vw;
  background-color: #181824;
  float: left;
  text-align: right;
}

.left2 {
  height: 100vw;
  width: 30%;
  background-color: black;
  float: left;
  color: white;
}

.vid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vw;
  width: 40vw;
}

.animationtekst {
  text-align: center;
  font-size: 1.5vw;
  margin-top: 13vw;
}

.animationtekst a {
  text-align: center;
  font-size: 1.5vw;
  margin-top: 2vw;
  text-decoration: none;
  color: #4ca64c;
}
code {
  font-size: 1vw;
  text-align: left;
}
.code1 {
  margin-top: 7vw;
  width: 60vw;
  height: 40vw;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #181824;
  margin-left: 5vw;
}

/* DIT IS VAN PRISM.JS DIT DIENT VOOR CODE ER MOOIER TE LATEN UIT ZIEN, IK KAN DIT NIET UITLEGGEN*/
code[class*=language-],pre[class*=language-]{color:#fff;background:0 0;text-shadow:0 -.1em .2em #000;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1vw;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}@media print{code[class*=language-],pre[class*=language-]{text-shadow:none}}:not(pre)>code[class*=language-],pre[class*=language-]{background:#4c3f33}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto;border:.3em solid #7a6651;border-radius:.5em;box-shadow:1px 1px .5em #000 inset}:not(pre)>code[class*=language-]{padding:.15em .2em .05em;border-radius:.3em;border:.13em solid #7a6651;box-shadow:1px 1px .3em -.1em #000 inset;white-space:normal}.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#997f66}.token.punctuation{opacity:.7}.token.namespace{opacity:.7}.token.boolean,.token.constant,.token.number,.token.property,.token.symbol,.token.tag{color:#d1939e}.token.attr-name,.token.builtin,.token.char,.token.inserted,.token.selector,.token.string{color:#bce051}.language-css .token.string,.style .token.string,.token.entity,.token.operator,.token.url,.token.variable{color:#f4b73d}.token.atrule,.token.attr-value,.token.keyword{color:#d1939e}.token.important,.token.regex{color:#e90}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.deleted{color:red}

.FooterAn {
  height: 10vw;
  width: 100%;
  background-color: black;
  clear: both;
  color: white;
  text-align: center;
  font-size: 3vw;
  padding-top: 1vw;
}

/* about */
.TekstAbout {
  text-align: center;
  color: white;
  padding-top: 7vw;
  
}
.left3 {
  height: 51.6vw;
  width: 30%;
  background-color: black;
  float: left;
  color: white;
}
.school {
  max-height: 25vw;
  margin-top: 3vw;
}
/* Alles */

::-webkit-scrollbar {
  width: 1vw;
}
::-webkit-scrollbar-track {
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #4ca64c;
}


.navtekst {
  margin-right: 3vw;
  color: lightgray;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li1 a {
  text-align: center;
  margin-left: 12vw;
  color: white;
  padding: 14px 30px;
  text-decoration: none;
  font-size: 2vw;
}
li1 a:hover {
  background-color: #181824;
}
li a {
  display: block;
  color: white;
  padding: 14px 30px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
}

li {
  float: right;
}

* {
  box-sizing: border-box;
}

h1 {
  color: white;
  text-align: center;
  font-size: 5vw;
  margin: 0vw;
  margin-bottom: 0vw;
  text-decoration: underline;
}





/* Preloader */
#loader {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  font-size: 5vw;
  text-align: center;
  padding-top: 20vw;
}


